.container
{
    text-align:center;
    margin-top:auto;
}
table
{
    margin:auto;
}
h1
{
    font-size:35pt;
    letter-spacing: 3px;
    font-family: sans-serif
}
input
{
    font-size:50px;
    width:400px;
    height: 100px;
    border:3px solid rgb(32, 150, 8);
    border-radius: 30px;
}
button
{
font-size: 35px;
background: rgb(202, 156, 156);
width: 100px;
height: 100px;
border-radius: 25px;
color: white;
font-weight: bold;
font-style: italic;
margin:8px auto
}
.calculator
{
background-color: rgb(158, 100, 144);
padding: 25px;
display: inline-block;
border-radius:53px;
border:3px solid rgb(207, 24, 55)
}